.container{
    flex-direction: column;
}

.header{
    background-color: rgb(34, 178, 130);
    height: 100px;
}

.main{
    background-color: deepskyblue;
    height: 500px;
    display: flex;
}

.footer{
    background-color: rgb(34, 178, 130);
    height: 100px;
}

.aside{
    background-color: rgb(0, 113, 128);
    width: 20%;
}

.articel{
    background-color: rgb(241, 60, 60);
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bingkai img{
    width: 250px;
    margin: 1em;
}

.bingkai{
    display: flex;
    justify-content: center;
}